@import "../node_modules/bootstrap/scss/bootstrap.scss";


#Titre {
    display: flex ;
    justify-content: center;
}

.white{
    color: white;
}
body{
    background-color : #F3E9F1
}
main{
    margin-bottom: 20px ;
}

.space{
    margin-bottom: 20px ;
}
.center{
    justify-content: center;
    &2{
        display: flex;
        margin: 0 auto 10px auto;
        padding: 0;
    }
}